# compiled output
./public
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/public/shared/acl/acl.service.d.ts
/public/shared/acl/acl.service.js
/public/shared/acl/acl.service.js.map
/public/shared/acl/acl-rule.constant.d.ts
/public/shared/acl/acl-rule.constant.js
/public/shared/acl/acl-rule.constant.js.map
/public/shared/acl/action.constant.d.ts
/public/shared/acl/action.constant.js
/public/shared/acl/action.constant.js.map
/public/shared/acl/actor.constant.d.ts
/public/shared/acl/actor.constant.js
/public/shared/acl/actor.constant.js.map
/public/shared/filters/all-exceptions.filter.d.ts
/public/shared/filters/all-exceptions.filter.js
/public/shared/filters/all-exceptions.filter.js.map
/public/app.module.d.ts
/public/app.module.js
/public/app.module.js.map
/public/modules/auth/auth.controller.d.ts
/public/modules/auth/auth.controller.js
/public/modules/auth/auth.controller.js.map
/public/modules/auth/auth.module.d.ts
/public/modules/auth/auth.module.js
/public/modules/auth/auth.module.js.map
/public/modules/auth/auth.service.d.ts
/public/modules/auth/auth.service.js
/public/modules/auth/auth.service.js.map
/public/modules/auth/auth.types.d.ts
/public/modules/auth/auth.types.js
/public/modules/auth/auth.types.js.map
/public/shared/services/axios.service.d.ts
/public/shared/services/axios.service.js
/public/shared/services/axios.service.js.map
/public/shared/exceptions/base-api.exception.d.ts
/public/shared/exceptions/base-api.exception.js
/public/shared/exceptions/base-api.exception.js.map
/public/shared/dto/base-api-response.dto.d.ts
/public/shared/dto/base-api-response.dto.js
/public/shared/dto/base-api-response.dto.js.map
/public/shared/constants/common.d.ts
/public/shared/constants/common.js
/public/shared/constants/common.js.map
/public/shared/configs/configuration.d.ts
/public/shared/configs/configuration.js
/public/shared/configs/configuration.js.map
/public/modules/task/dto/create-task.dto.d.ts
/public/modules/task/dto/create-task.dto.js
/public/modules/task/dto/create-task.dto.js.map
/public/modules/user/dto/create-user.dto.d.ts
/public/modules/user/dto/create-user.dto.js
/public/modules/user/dto/create-user.dto.js.map
/public/shared/constants/errors.d.ts
/public/shared/constants/errors.js
/public/shared/constants/errors.js.map
/public/shared/decorators/extract-user-id.decorator.d.ts
/public/shared/decorators/extract-user-id.decorator.js
/public/shared/decorators/extract-user-id.decorator.js.map
/public/modules/auth/strategies/google.strategy.d.ts
/public/modules/auth/strategies/google.strategy.js
/public/modules/auth/strategies/google.strategy.js.map
/public/shared/constants/index.d.ts
/public/shared/request-context/util/index.d.ts
/public/shared/constants/index.js
/public/shared/request-context/util/index.js
/public/shared/constants/index.js.map
/public/shared/request-context/util/index.js.map
/public/modules/auth/guards/jwt.guard.d.ts
/public/modules/auth/guards/jwt.guard.js
/public/modules/auth/guards/jwt.guard.js.map
/public/modules/auth/strategies/jwt.strategy.d.ts
/public/modules/auth/strategies/jwt.strategy.js
/public/modules/auth/strategies/jwt.strategy.js.map
/public/shared/logger/logger.module.d.ts
/public/shared/logger/logger.module.js
/public/shared/logger/logger.module.js.map
/public/shared/logger/logger.service.d.ts
/public/shared/logger/logger.service.js
/public/shared/logger/logger.service.js.map
/public/shared/interceptors/logging.interceptor.d.ts
/public/shared/interceptors/logging.interceptor.js
/public/shared/interceptors/logging.interceptor.js.map
/public/main.d.ts
/public/main.js
/public/main.js.map
/public/shared/configs/module-options.d.ts
/public/shared/configs/module-options.js
/public/shared/configs/module-options.js.map
/public/shared/types/pagination.types.d.ts
/public/shared/types/pagination.types.js
/public/shared/types/pagination.types.js.map
/public/shared/dto/pagination-query.dto.d.ts
/public/shared/dto/pagination-query.dto.js
/public/shared/dto/pagination-query.dto.js.map
/public/shared/dto/pagination-result.dto.d.ts
/public/shared/dto/pagination-result.dto.js
/public/shared/dto/pagination-result.dto.js.map
/public/shared/decorators/public.decorator.d.ts
/public/shared/decorators/public.decorator.js
/public/shared/decorators/public.decorator.js.map
/public/shared/request-context/req-context.decorator.d.ts
/public/shared/request-context/req-context.decorator.js
/public/shared/request-context/req-context.decorator.js.map
/public/shared/request-context/request-context.dto.d.ts
/public/shared/request-context/request-context.dto.js
/public/shared/request-context/request-context.dto.js.map
/public/shared/middlewares/request-id/request-id.middleware.d.ts
/public/shared/middlewares/request-id/request-id.middleware.js
/public/shared/middlewares/request-id/request-id.middleware.js.map
/public/shared/constants/role.constant.d.ts
/public/shared/constants/role.constant.js
/public/shared/constants/role.constant.js.map
/public/shared/shared.module.d.ts
/public/shared/shared.module.js
/public/shared/shared.module.js.map
/public/modules/auth/dto/sign-in.dto.d.ts
/public/modules/auth/dto/sign-in.dto.js
/public/modules/auth/dto/sign-in.dto.js.map
/public/shared/dto/status-response.dto.d.ts
/public/shared/dto/status-response.dto.js
/public/shared/dto/status-response.dto.js.map
/public/shared/constants/swaggerOptions.d.ts
/public/shared/constants/swaggerOptions.js
/public/shared/constants/swaggerOptions.js.map
/public/modules/task/task.controller.d.ts
/public/modules/task/task.controller.js
/public/modules/task/task.controller.js.map
/public/modules/task/task.module.d.ts
/public/modules/task/task.module.js
/public/modules/task/task.module.js.map
/public/modules/task/schemas/task.schema.d.ts
/public/modules/task/schemas/task.schema.js
/public/modules/task/schemas/task.schema.js.map
/public/modules/task/task.service.d.ts
/public/modules/task/task.service.js
/public/modules/task/task.service.js.map
/public/tsconfig.build.tsbuildinfo
/public/modules/auth/dto/update-auth.dto.d.ts
/public/modules/auth/dto/update-auth.dto.js
/public/modules/auth/dto/update-auth.dto.js.map
/public/modules/task/dto/update-task.dto.d.ts
/public/modules/task/dto/update-task.dto.js
/public/modules/task/dto/update-task.dto.js.map
/public/modules/user/dto/update-user.dto.d.ts
/public/modules/user/dto/update-user.dto.js
/public/modules/user/dto/update-user.dto.js.map
/public/modules/user/user.controller.d.ts
/public/modules/user/user.controller.js
/public/modules/user/user.controller.js.map
/public/modules/user/user.module.d.ts
/public/modules/user/user.module.js
/public/modules/user/user.module.js.map
/public/modules/user/schemas/user.schema.d.ts
/public/modules/user/schemas/user.schema.js
/public/modules/user/schemas/user.schema.js.map
/public/modules/user/user.service.d.ts
/public/modules/user/user.service.js
/public/modules/user/user.service.js.map
/public/shared/pipes/validate-image-file.pipe.d.ts
/public/shared/pipes/validate-image-file.pipe.js
/public/shared/pipes/validate-image-file.pipe.js.map
/public/shared/constants/validation.d.ts
/public/shared/constants/validation.js
/public/shared/constants/validation.js.map
